[2018-02-07 07:47] ImreC opened #1 "Demo doesn't work in Firefox Quantum"
Cool product! Unfortunately your demo doesn't work on Firefox Quantum@latest. Didn't dig deeper into the cause.

[2018-02-07 08:34] akulubala commented on #1
@ImreC thanks for the feedback, I'm using ubuntu 16.04, Firefox version 58.01.All well to me. Can you show more details?

[2018-02-07 08:40] ImreC commented on #1
All is well now. Maybe the server serving the images had a glitch. Cool product! Will probably use this in my next project.

[2018-02-07 08:48] #1 closed

[2018-05-14 05:29] icangku opened #2 "Dynamic Product Zoomer"
I have if conditional, if user click variant of a product, product zoomer will use variantImages1 data, but it doesnt work well

`<ProductZoomer v-show="variant" :baseImages="variantImages" :baseZoomerOptions="zoomerOptions"></ProductZoomer>`
`<ProductZoomer v-show="!variant" :baseImages="images" :baseZoomerOptions="zoomerOptions2"></ProductZoomer>`

`<ProductZoomer v-if="variant" :baseImages="var

[2018-05-14 14:39] akulubala commented on #2
Hi @icangku , please show me your full code of this part? Can't locate the issue with your current infomations

[2018-05-23 07:33] irizariton opened #3 "It's not working on touch devices."

[2018-05-26 07:00] #2 closed

[2018-05-26 07:06] akulubala commented on #3
Hi @irizariton, thanks for the notice. will make it work on touch devices next version

[2018-05-27 12:59] akulubala commented on #3
@irizariton for current version, it's work on touch devices, but you need to add a dragable="false" attribute on the image.For now, I won't publish a new version.

[2018-06-03 15:01] Deifinger opened #4 "Using with Nuxt"
Hi!
I'm using ProductZoomer component with Nuxt, but getting error.
That's how I include component in another Vue-component:
`
const ProductZoomer =
  typeof window !== "undefined" ? require("vue-product-zoomer") : ""
`

Error:
`[Vue warn]: You are using the runtime-only build of Vue where the template compiler is not available. Either pre-compile the templates into render functions, or use the co

[2018-06-04 07:51] akulubala commented on #4
Hi @Deifinger, this issues is because this package I use the template instead render function, it needs to be compiled before running, I believe you are using runtime build. You can try to solve this by adding below code to your webpack config file.
 `resolve:
 {
   alias: {
      'vue': 'vue/dist/vue.js'
   }
}`

[2018-06-05 04:41] luhegi opened #5 "programmatic method to chooseThumb"
Hello, can you provide programmatic method to chooseThumb in example
when parent data changed, the product zoomer also navigate to selected thumb.
sorry if i asking too much

[2018-06-05 17:07] Deifinger commented on #4
@akulubala it doesn't work. I added what you mentioned above, but in Nuxt style:

nuxt.config.js
[code]

component.vue
[code]

And get NuxtServerError:

Please, take a look at [error screenshot](http://dl3.joxi.net/drive/2018/06/05/0028/1460/1856948/48/3486420c3a.jpg)

[2018-06-06 14:46] akulubala commented on #4
Hi @Deifinger , It seems not this plugins problem, I did some dig for your error. Found this issue from nuxt.js[https://github.com/nuxt/nuxt.js/issues/2792](url), let's wait from nuxt.js

[2018-06-06 14:56] akulubala commented on #5
@luhegi , For now these have no way to directly set choosedThumb.I can give you an idea to do this. when your parent data changed, you could reorder `images` data which will pass to product zoomer component.means reorder `images.thumbs`, 'images.normal_size', `images_large_size`

[2018-06-12 18:43] hkmsadek commented on #4
Any solution you guys found? I am having same problem :(

[2018-06-12 19:12] hkmsadek commented on #4
Hi, I solved it like this...

In my nuxt config file I used

`plugins: [
      {src: '~plugins/zoom', ssr: false}
   ],`

and
`build: {
    vendor:[ 'vue-product-zoomer']
  },`

and in my zoom.js
I have

`import Vue from 'vue';
import ProductZoomer from 'vue-product-zoomer'
Vue.component('ProductZoomer', ProductZoomer);`

Remimber DON'T IMPORT OR REGISTER THE COMPONENT IN YOUR .VUE FILE BECAUSE IT

[2018-06-12 20:32] Deifinger commented on #4
@hkmsadek yeah, it works, but nevertheless in console i see the error:
[code]

[2018-06-13 14:03] hkmsadek commented on #4
Yes, as far as I know, it will keep showing on page refresh or reload. It won't show when you visit like spa using nuxt link..

[2018-06-13 14:03] hkmsadek commented on #4
let me know if there are solution for this error, but for now we can ignore it

[2018-06-14 15:13] #5 closed

[2018-06-14 15:14] #3 closed

[2018-06-23 14:14] icangku commented on #2
Here's I have default images that loaded statically, but users need to choose one of some variants, an example user chooses color red, then Vue will load images data of that variant, how do I replace the showing images with the variant's images

`<ProductZoomer v-show="!variant" :baseImages="images" :baseZoomerOptions="zoomerOptions2"></ProductZoomer>
<ProductZoomer v-show="variant" :baseImages="v

[2018-06-25 08:29] icangku commented on #2
I've tried like this also
<ProductZoomer v-bind:baseImages="{images : !variant, variantImages : variant}" :baseZoomerOptions="zoomerOptions"></ProductZoomer>

but not working

[2018-06-27 03:06] akulubala commented on #2
Hi @icangku, this plugin need calculate zoomer box size before it showing, you can't using v-show to control it. I'm not sure if you can achieve your request.Try using CSS `visibility: hidden`, and don't forget `namespace` for each product-zoomer.

[2018-06-28 05:19] icangku commented on #2
if(this.variant){
   this.images = this.variantImages
}else{
   this.images = this.defaultImages
}

<ProductZoomer :baseImages="images" :key="Date.now()" :baseZoomerOptions="zoomerOptions"></ProductZoomer>

not it works, but data-zoom not changing, how do i achieve this?

[2018-07-05 00:20] ovidales opened #6 "Attempting to Use Carousel"
I am implementing a carousel using Vuetify but I am having a problem the zoom box is only shown in the first image, I made a change so that the image would be displayed from an array, you have some idea of why only the zoom box is shown in the first picture?

Thank you

[2018-07-20 11:38] bobbygerez opened #7 "Adjust the width and height"
Hi there,
Is there a way to change the height and width of the preview? It's really different from your example.... Thanks.
![untitled](https://user-images.githubusercontent.com/10149942/43000480-4c992a2c-8c2a-11e8-9b4d-5d227ec6ffad.png)
![2](https://user-images.githubusercontent.com/10149942/43000895-e6bee10e-8c2b-11e8-80b1-f7fb47f5fb51.PNG)

[2018-07-24 13:37] akulubala commented on #7
Hi @bobbygerez, which browser you are using? I tested it on Chrome, Safari and Firefox. And please make sure all assets are loaded.

[2018-07-24 13:43] akulubala commented on #6
Hi @ovidales, not sure if your problem been solved or not.and if you could provide some code for your problem?

[2018-07-24 14:22] ovidales commented on #6
Thanks for your response, I told you that I have already made it work.

[2018-07-24 15:02] akulubala commented on #6
ok, np. then this issue is closed.

[2018-07-24 15:02] #6 closed

[2018-07-24 15:23] bradgardiner opened #8 "Arrow Icon Issues"
Hey I am having some issues with rendering the arrow icons for the thumbnail preview
![image](https://user-images.githubusercontent.com/9356715/43148761-f64befee-8f33-11e8-9396-b7af3415f0c2.png)

[2018-07-25 15:46] bradgardiner commented on #8
I've gone with a different solution now but when I was using yours, it did say all the assets had been loaded

[2018-08-07 06:02] besnikh commented on #4
To fix the [Vue warn] you can follow @hkmsadek except I didn't include it to my build just as a plugin and ssr false flag.

After that in your component you just do a v-if after mounted

[code]
and in mounted:

[code]

But not my problem is that it is showing an font-awesome error
`vue-carousel.min.js:6 GET http://localhost:3000/assets/fonts/fontawesome-webfont.af7ae50.woff2 net::ERR_ABORTED`

How

[2018-08-07 06:08] besnikh opened #10 "Font awesome error"
I am getting this error when I mount the component

[code]

I am using different version of font-awesome.. how can exclude product-zoomer to use the outdated version or how can I get rid of this issue ?

Thnx

[2018-08-07 13:32] akulubala commented on #10
Hi, @besnikh , if you use webpack :

    new CopyWebpackPlugin([
          {
            from: path.resolve(__dirname, 'node_modules/vue-product-zoomer/dist/assets'),
            to: /,
            ignore: ['.*']
          }
    ])
will copy all fonts to root path of your project.

[2018-08-07 13:33] #7 closed

[2018-08-07 13:34] #8 closed

[2018-08-07 15:20] besnikh commented on #10
Hi @akulubala
I do not have any experience with Webpack and I somehow try to avoid touching it since I don't quite understand how everything works. But at this time its only me dealing with this, the other guy is in vacation and we need to go live and we are happy with your plugin.

That being said, we are using nuxt, as I posted in another thread #4 I explained how to use this plugin with nuxt an

[2018-08-08 15:50] akulubala commented on #4
Hi @all, for this issue been a while, there have a new version just released, font problem solved by using fontaswsome 4. new install method updated to:

    import ProductZoomer from 'vue-product-zoomer'
    Vue.use(ProductZoomer);

doc will update soon.
for Nuxt problem just need add it to plugin, check doc here: https://nuxtjs.org/guide/plugins，
and coding like this :

    <div style="width:400

[2018-08-08 15:56] akulubala commented on #10
Hi @besnikh , please check https://github.com/akulubala/vue-product-zoomer/issues/4

[2018-08-11 14:16] #10 closed

[2018-08-11 14:16] #4 closed

[2018-08-26 03:18] AutumnFish opened #11 "arrow can not use"
when I click Arrow the img is not change

[2018-08-30 02:43] 1272171893 opened #12 "details is not clear."
How to use it is not clear. You can write details about the document.

[2018-09-11 08:33] akulubala commented on #11
@AutumnFish the server for those images is down, now changed to another server

[2018-09-11 08:33] #11 closed

[2018-09-12 04:56] luhegi opened #13 "Font Awesome render as <i> not <svg>"
can you help me with this issue? it working correctly but the icon not rendering as svg but as
```<i aria-hidden="true" class="fa fa-angle-right"></i>```
</code>
</pre>

[2018-09-12 05:14] akulubala commented on #13
it should be SVG, which version and browser you are using?

[2018-09-12 06:07] luhegi commented on #13
i'm using "version": "2.0.11"

[2018-09-12 06:16] akulubala commented on #13
version 2.0.11 using fontawsome 4, it should be an SVG file,  maybe you should check if your package installed correctly, can't help you without more details.

[2018-09-12 06:53] akulubala commented on #13
@luhegi, I was wrong with the version, it's using fontawesome 5, can't help you if you can't provide more details.

[2018-09-12 07:18] luhegi commented on #13
i'm using https://github.com/cretueusebiu/laravel-vue-spa, he using font awesome 5 in resources/assets/js/plugins/fontawesome.js

[2018-09-12 08:08] akulubala commented on #13
@luhegi I've been checked again with larave-vue-spa, there was no issue for using this plugin, please make sure you are using it correctly. This issue should be closed now since it's not this plugins problem.

[2018-09-12 08:08] #13 closed

[2018-09-12 08:08] akulubala commented on #12
@1272171893 Readme updated

[2018-09-12 08:09] #12 closed

[2018-09-12 08:19] luhegi commented on #13
ok, thanks for checking. i'll try to fix it

[2018-09-28 02:18] drosendo opened #14 "Questions"
Hi,

Great component you added, im loving it so far. Have 2 questions.

1.  Is there a option to disable the thumbnails just have the main image, remove the "control-box" (using CSS to hide it at the moment)
2. Is there a way to dynamically update the image with new image?
3. Is there a destroy? if so how can I call it?

Im not using "gallery" but on single image, and I when user click some other

[2018-10-01 09:56] hailt1911 opened #15 "document is not defined"
Hi,

When i try to import it i got an error document is not defined
Screenshot:
![image](https://user-images.githubusercontent.com/22976644/46282149-f15f7300-c59a-11e8-8009-abae9c209905.png)
Anyone can help me?

Thanks and Best Regards,
Harry

[2018-10-01 09:58] janmyszkier commented on #15
Can you please provide
- the node version
-  vue-sf version
so we can reproduce?

[2018-10-01 10:27] hailt1911 commented on #15
Hi I'm using node v9.11.1 and use branch master of https://github.com/DivanteLtd/vue-storefront

Thank you

[2018-10-01 11:35] janmyszkier commented on #15
please use node version pointed out in dockerfile
https://github.com/DivanteLtd/vue-storefront/blob/master/docker/vue-storefront/Dockerfile
so 8.X and try again

[2018-10-02 15:48] akulubala commented on #14
Hi @drosendo, Glad you like this package. Unfortunately, for now, this package can't fit your requirement, there have no option to remove "control-box" and can't update image from other sources than from control box. If you can show me what exactly effects you want to fulfill?

[2018-10-02 16:03] drosendo commented on #14
I have managed.

1. Is there a option to disable the thumbnails just have the main image, remove the "control-box"
Hide via CSS

2. Is there a way to dynamically update the image with new image?
using the vue :key the image gets updated when key changes

3.Is there a destroy? if so how can I call it?
No need thanks to the above.

But I did found issues where the pane & container get positioned ver

[2018-10-03 16:15] #15 closed

[2018-10-05 06:53] maverickpravin commented on #7
Same issue ........ i have all the assets loaded and its working great.
But if i use with bootstrap grid, the same distortion starts to happen.
[code]

[2018-10-05 07:02] maverickpravin commented on #7
Same issue here. All my assets are loaded successfully.
It happens with bootstrap grid
[code]

[2018-10-06 14:49] Rim-777 commented on #14
@drosendo Could you please explain  to me about point 2?
where you change :key to  update with new image?
Usually the key is used in iteration such as v-for, but there is  no vi-for in
<ProductZoomer
  :base-images="images"
  :base-zoomer-options="zoomerOptions"
/>
Looking forward to your replay
Timo

[2018-10-11 19:26] maverickpravin opened #16 "How to fix the size of preview box?"
Thanks for this amazing component !!
I am using in one of  my important project :1st_place_medal:

My problem is that the preview box resizes according to image size, but i want it with fixed size, how can i achieve that ?
TIA

[2018-10-12 05:41] akulubala commented on #16
Hi @maverickpravin, the preview box resizes according to image size is designed to, so with my point there has no method to change it for now.

[2018-10-13 15:12] #16 closed

[2018-10-14 15:08] #14 closed

[2018-10-18 08:08] sourov06 opened #17 "There is no way to know which image is chosen currently"
Currently there is no way to know which image has been choose from slider by hover or click. It is better to have some sort of event or property to track that.

By the way, thanks for this nice plugin.

[2018-10-19 08:38] musman92 opened #18 "img zoom is not working correctly"
i tried all options, but it did not work

![issue](https://user-images.githubusercontent.com/8155538/47207244-2eea3b80-d3a4-11e8-9333-b536d327da0b.png)

also how i make default img. i want to show img on right side of the image not on the top

[2018-10-20 08:00] akulubala commented on #18
try give it a container div with a solid width. for now, this plugin only display on top for big image

[2018-10-20 08:06] akulubala commented on #17
@sourov06 there will add a CSS class 'choosed-thumb' for chosen thumbs image tag, if you really need to know which one selected.

[2018-10-28 08:33] #18 closed

[2018-10-28 08:33] #17 closed

[2018-11-25 03:50] meidawei opened #19 "您好，点击箭头，图片没有修改"
您好，我在引用这个插件的时候，发现点击缩略图的箭头，上面的图片没有根据箭头点击上一页下一页跟着改变，请问这是什么问题呢

[2018-11-25 04:16] maple88 opened #20 "您好,可以修复一下点击箭头没有改变的bug吗,我们老师说那样star会多很多哦!!! (^_^)"

[2018-11-25 12:56] akulubala commented on #20
点击箭头并没有切换图片，下面小图片的框还是原来的图，所以这不是bug

[2018-11-25 12:57] akulubala commented on #19
点击箭头只是翻页显示可选图片，并没有改变当前所需图，所选框还在原来的图片上

[2018-11-27 12:37] #19 closed

[2018-11-27 12:37] #20 closed

[2018-12-03 08:36] georgyfarniev opened #21 "Custom icons slots"
Hello. First of all, thanks for great project! Is it possible to implement slots for custom arrow icons? It's necessary for styling of the gallery.

UPD: PR created: https://github.com/akulubala/vue-product-zoomer/pull/22

[2018-12-04 14:39] akulubala commented on #21
Hi @georgyfarniev thank you for you take part in this project.pull request been merged.

[2018-12-04 14:39] #21 closed

[2018-12-07 03:41] smaharj1 opened #23 "Image Selection on the side"
This is actually a feature request. It would be very cool if we could switch the side where the list of images are displayed. Currently, it is at the bottom. Options to move it to left, right, or top would be helpful.

[2018-12-13 05:04] namanyayg opened #24 "Stylesheet should be scoped?"
I believe the stylesheet used should be scoped. Currently it creates conflicts (especially `.control`, which is used in many CSS frameworks to represent form inputs). Any reason why it isn't scoped?

[2018-12-15 02:37] akulubala commented on #23
Good Point will implement these futures a few days later.

[2018-12-15 02:40] akulubala commented on #24
Hi @namanyayg, thanks for point out this problem. Will Improve these kinds of stuff.And very glad to get pull requests.

[2019-02-19 10:55] shubham0503 commented on #15
Hello @janmyszkier I am using 10.14 still I am getting an error "document is not defined".

Thank you

[2019-04-17 10:40] Ravin0319 opened #28 "RTL Support"
Hi,

Thank you for this amazing plugin.

I'm using this for my website and it works great in LTR.

In RTL the image is shown but the hover magnifier shows black. any idea how i can fix this issue?

Thanks!

[2019-04-20 12:16] akulubala commented on #28
@Ravin0319 if you LTR you mean left to right, then RTL is not supported yet, will add this feature soon

[2019-04-29 02:14] vinnygambiny opened #29 "Loading image Async"
They have an option to load images async ?

[2019-04-29 02:55] vinnygambiny commented on #29
Find a way with methods

[2019-04-29 02:55] #29 closed

[2019-05-16 23:29] pavelemmanuel opened #30 "Choosed thumbs not show when component mounted"
the fact is that when i load the page where the product zoomer component is there is no default selected thumbs i have to click on thumbs to display normal size image

[2019-05-21 19:33] pavelemmanuel opened #31 "chosed thumbs object is undifined on mounted"
Plese i really need your help the choosed thumb object is undifined when component mounted

[2019-05-28 06:25] DarKCoder666 opened #32 "Not zooming"
Everything connected correctly and working without any errors. But, it is not zooming the image. I tried to pass 'thumb', 'normal_size' and 'large_size' - no result.

const images = {

        thumbs: [
          {
            id: 1,
            url:
              "https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__340.jpg"
          },
          {
            id: 2,
            url:

[2019-05-28 06:26] DarKCoder666 commented on #32
![Sketch](https://user-images.githubusercontent.com/16527574/58455548-6b042c80-813b-11e9-9e3b-939c9dcff7be.png)

[2019-05-29 05:26] #30 closed

[2019-05-29 05:58] akulubala commented on #32
should be some css issues, can you provider more code about when you using this component?

[2019-06-10 07:52] Siddaramappa opened #33 "Zoom postition not accurate"
there is small issue with the position for zoomed image can anyone give the solution
![Screen Shot 2019-06-10 at 1 18 02 PM](https://user-images.githubusercontent.com/41416742/59180507-c514e100-8b82-11e9-8fca-a10638c4d3eb.png)

[2019-06-10 15:08] akulubala commented on #33
@Siddaramappa your parent element should be relative

[2019-06-11 04:16] Siddaramappa commented on #33
if we don't have any top bar or nav bar in top it working fine... but the issue is if we place the navbar on top this issue is happening.. as you suggest i tried the parent element is relative but we getting same result...

<div class="col-md-4" style="position: relative">
                <product-zoomer :base-images="images" :base-zoomer-options="zoomerOptions" ></product-zoomer>
            </di

[2019-06-11 05:37] akulubala commented on #33
@Siddaramappa are you using bootstrap?

[2019-06-11 06:04] Siddaramappa commented on #33
yes i using  Bootstrap 4
For any further queries please leave us message. We’d love to chat.

Thanks & Regards

Siddaramappa N N | Sr. Front End Developer
Appnings Software Solutions Pvt Ltd
#4F, 4th Floor, Rich Homes, Richmond Road, Bangalore - 560025
 L: 080 2222544 | www.appnings.com
<https://www.google.com/url?q=http://www.appnings.com&sa=D&source=hangouts&ust=1535616362761000&usg=AFQjCNFU5z9H

[2019-06-11 06:05] Siddaramappa commented on #33
Yes i using bootstrap 4

[2019-06-11 06:12] akulubala commented on #33
@Siddaramappa , there hava some issue with bootstrap grid system, I remeber its child div inherit parent position strategy. you can try to solve it by investigate from there.Or using other css framework like bluma.

[2019-06-11 06:15] Siddaramappa commented on #33
okay thanks we try it out thank you so much!!

[2019-06-14 08:13] bankerrajendra opened #34 "Failed to mount component: template or render function not defined."
[Vue warn]: Failed to mount component: template or render function not defined.

[2019-06-14 11:56] akulubala commented on #34
@bankerrajendra normally this happens because webpack for vue is not configured properly.

try this

`
resolve: {
    alias: {
        'vue$': 'vue/dist/vue.js'
    },
    extensions: [‘*’, ‘.js’, ‘.vue’, ‘.json’]
},
`
for you webpack configuration

[2019-06-14 12:18] #33 closed

[2019-06-14 12:19] #28 closed

[2019-06-14 12:19] #23 closed

[2019-06-14 12:19] #24 closed

[2019-06-18 17:29] bankerrajendra commented on #34
I am using laravel-mix for laravel vue project.

Added this node_modules\laravel-mix\src\builder\WebpackConfig.js

buildResolving() {
        this.webpackConfig.resolve = {
            extensions: ['*', '.js', '.jsx', '.vue', '.json'],

            alias: {
                vue$: 'vue/dist/vue.common.js'
            }
        };

        return this;
    }

But still issue is there with same error

[2019-06-28 09:37] akulubala commented on #32
try new version

[2019-06-28 09:37] #32 closed

[2019-06-28 09:38] #34 closed

[2019-06-28 09:38] #31 closed

[2019-07-14 20:26] tobkle opened #35 "gridsome build fails"
Adding vue-product-zoomer to [Gridsome](https://gridsome.org/) works during `gridsome develop`, but it fails during `gridsome build` (node v8.11.0/v10.16.0) while server side rendering (SSR) with the error:

[code]
Is there a work-around for server rendered pages, that this window is not referenced?
Sounds similiar like the nuxt issue. Don't know to handle it with gridsome.

[2019-07-16 11:48] shaomingwei opened #36 "如何规定图片的大小？"

[2019-07-16 11:49] #36 closed

[2019-07-16 16:28] akulubala commented on #35
Hi, this problem is cased using SSR mode, will be fixed for next release

[2019-07-19 03:06] Asyncinfo opened #37 "when ssr it returns an error "document is not defined""

[2019-07-19 03:17] Asyncinfo commented on #37
as the title says, I can't find a way to solve this error.

I find a tip that use require to import this lib，that brings an new error, "did you register your component correctly"

The codes like below:
if (typeof window !== 'undefined') {
    const ProductZoomer = require('vue-product-zoomer')
    Vue.use(ProductZoomer)
}

this way will not meet the error "document is not defined" but bring the er

[2019-07-19 13:58] Svenson7 commented on #37
I encountered the same issue today. Adding .default after require solved it:

const ProductZoomer = require('vue-product-zoomer').default

[2019-07-19 14:04] svenehmer commented on #37
I encountered the same issue today. Adding .default after require solved it:

const ProductZoomer = require('vue-product-zoomer').default

[2019-07-20 01:33] Asyncinfo commented on #37
@svenehmer
It works for me，thank you！

[2019-07-20 05:04] #37 closed

[2019-07-20 09:25] Asyncinfo opened #38 "Error in render: "TypeError: Cannot read property 'desc' of undefined""
If I use **`<div v-html='product.brand.desc'></div>`** in the template file，the zoomer can work well but the console will return an error **Cannot read property 'desc' of undefined**.

if I solve the property problem by some ways，the zoomer will return me "Product Zoomer Need Normal Size Image At Least!!!"，the images collection have the id and url data, but the zoomer don't use the images collecti

[2019-07-29 15:25] dashqa opened #39 "Doesn't work at all with last 3.0.0 version"
Hello!
Here it is the example - https://codesandbox.io/s/vue-template-pu1wy
As you see, there is no thumb-list visibility and zoom feature doesn't work.
If we change version of dependancy on 2.0.11 it's working.

[2019-07-29 15:57] akulubala commented on #39
It's working when not using from code sandbox, not quite sure what's the problem. you can try a demo from your own computer.

[2019-07-29 16:10] dashqa commented on #39
I tried it in my project and it doesn't work, thats why I used to try in code sandbox.
Don't know why is that, there is no errors in console. Also I noticed object "drift" is null (vue dev tools) and computed styles aren't generated.
![Screenshot at Jul 29 19-08-08](https://user-images.githubusercontent.com/1376668/62063923-80c5c900-b234-11e9-9d51-c6b48a1acbb7.png)
![Screenshot at Jul 29 19-09-03]

[2019-07-30 02:00] akulubala commented on #39
@dashqa there have `window.addEventListener("load", () => {})` for drift property. could you check your code for this reason? my demo was working fine.

[2019-07-30 10:45] erpriyanka opened #40 "Unable to load Product Zoomer in data object"
If I put the sample data in return object it displays the output but if I dynamically call the image object unable to load data in product zoomer data object

If I place this code it displays the output
images: {
        thumbs: [
          {
            id: 1,
            url:
              "http://localhost:8000/images/product/thumbs/MICMIMC30651-6.jpg"
          },
          {
            id: 2

[2019-07-30 12:23] akulubala commented on #40
@erpriyanka image thumbs must provide for this plugin

[2019-07-31 04:27] erpriyanka commented on #40
I called image:[]  in return function and I get the output which you can see on the first screenshot but unable to render images.

[2019-07-31 14:06] akulubala commented on #40
@erpriyanka can you put all your reletive code here?

[2019-08-01 06:46] akulubala commented on #40
Hi @erpriyanka I got your email, I think your problem is caused by Object change limitation from javascript, check the document here: https://vuejs.org/v2/guide/list.html#Object-Change-Detection-Caveats

[2019-08-05 18:38] ahsath commented on #35
You are working on the next release?

[2019-08-14 19:16] belamov commented on #39
exactly same problem here
haven't figured out what is wrong, seems like event listener on 'load' event isn't triggering, but have no idea why

[2019-08-18 10:58] MicroDreamIT commented on #39
for single page application style is not applying at the time to load.

[2019-08-18 11:33] MicroDreamIT commented on #4
@akulubala in nuxt I have used everything with no-ssr but thumblist is not showing when page switch, but if page refresh it works.

[2019-08-18 11:47] MicroDreamIT opened #41 "Not working properly with NuxtJs"
nuxt.config.js
[code]
plugin config in ProductZoomer.js
[code]

in product page
[code]
Thumblist is not working. If css applied then zoom effect is not working

[2019-08-19 01:40] #38 closed

[2019-08-19 01:44] Asyncinfo commented on #41
maybe you can use it like this
`if (typeof window !== 'undefined') {
    const ProductZoomer = require('vue-product-zoomer').default
    Vue.use(ProductZoomer)
}`

[2019-08-19 03:07] Asyncinfo opened #42 "can not work well with the vuex"
the images data comes from the vuex getters, the page can get the data from computed getters, but the zoomer component shows nothing the first time, if I open a new product page, the new page's zoomer product shows the **previous product's images**, other products like it, it never shows the correct image.

[2019-08-19 07:34] MicroDreamIT commented on #41
@Asyncinfo did not work

[2019-08-19 08:32] MicroDreamIT commented on #41
I think @akulubala should build a separate another repository for nuxt only nuxt-product-zoomer.

[2019-08-19 14:10] akulubala commented on #41
@MicroDreamIT as you suggested, I made a demo for nuxt project [demo for nuxt](https://github.com/akulubala/nuxt-product-zoomer-demo). Seems all work fine

[2019-08-19 14:11] #40 closed

[2019-08-19 14:13] akulubala commented on #35
For Nuxt SSR mode it works fine, check the example [Nuxt project](https://github.com/akulubala/nuxt-product-zoomer-demo), this plugin only works for client side project. need to disable SSR: https://nuxtjs.org/guide/plugins

[2019-08-19 16:12] MicroDreamIT commented on #41
@akulubala will try tomorrow. did you check with vue-bootstrap as well?

[2019-08-20 01:17] akulubala commented on #41
@MicroDreamIT for bootstrap it works with a small issue.
`
<div class="container">
    <ProductZoomer :base-images="images" :base-zoomer-options="zoomerOptions"></ProductZoomer>
  </div>
`.
class `.container` need adjust text align attribute.

[2019-09-03 14:12] yesworld opened #43 "[Question] Lazy Loading Images"
Hey,

Do you plan to support Lazy Loading images?

Thank you!

[2019-09-03 14:28] yesworld commented on #43
Sorry, I didn’t notice. Everything is fine. :)

[2019-09-03 14:28] #43 closed

[2019-09-05 04:28] #41 closed

[2019-09-05 04:29] #39 closed

[2019-09-05 04:29] #35 closed

[2019-09-05 04:30] #42 closed

[2019-09-07 03:20] Enjoyer1 commented on #39
Same problem, working fine in v2.0.11

[2019-09-07 07:10] akulubala commented on #39
Hey @Enjoyer1 , need to know more details about how you use this plugin, there have a [demo](https://github.com/akulubala/nuxt-product-zoomer-demo) you can give a try.

[2019-09-09 13:26] Enjoyer1 opened #44 "z-index property"
Hello, I having the issue when I use the component in a div with z-index > 0, it is showing the zoom but its behind my container because it has a different z index.
I'm using v2.0.11

<img width="420" alt="Captura de Pantalla 2019-09-09 a la(s) 10 23 05" src="https://user-images.githubusercontent.com/34873511/64534586-13558f80-d2ec-11e9-996e-7a790fa80d2b.png">

[2019-09-09 14:15] akulubala commented on #44
Hi @Enjoyer1 the div you use for contain this component should be with a position relative. Also, suggest you use a recent version

[2019-09-09 17:27] Enjoyer1 commented on #44
I added z-index to the class drift-zoom-pane and now is working fine.

[2019-09-09 17:27] #44 closed

[2019-09-26 07:39] maverickpravin opened #45 "abnormal behavior with navigation"
I have been working with product zoomer quite a while its great.
Lately after updating i have found a navigation not working when scroller have single image.
![Capture12](https://user-images.githubusercontent.com/11708491/65668185-dfee6100-e05e-11e9-9e14-6e3a2cd0b67e.PNG)

[2019-10-01 06:10] jraguilan commented on #45
Hi, try to set your 'scroll_items' to 1.

[2019-10-02 08:48] perochak opened #46 "Does not work when used with Quasar Framework"
Hey

I have tried to use it with Quasar framework but image does not display. Moverover when items/slides are assigned/updated dynamically i.e. via ajax it does not work too

[2019-10-22 06:46] Abdulrahman42 opened #47 "dynamic image"
how to make dynamic image using v-for , sorry iam still learning

[2019-10-30 04:02] perochak commented on #46
can you please give full guide of it?

[2019-11-10 13:53] maverickpravin opened #48 "how to hide scroller programmatically ?"
is there any chance to hide scroller programmatically?

[2019-11-11 11:51] tduccuong opened #49 "Cannot import locally"
Hi,

thanks for nice work!

But I cannot import the component locally. Always get 'template or rendered function not defined' error... I hade to import it in my main app.js and `Vue.use(ProductZoomer)` for it to work.

Could u pls help me on that? Thanks!

[2019-11-25 15:19] akulubala commented on #48
not implement yet

[2019-12-11 08:56] mapkbalaji commented on #46
@PH7-Jack I ve tried using <q-no-ssr> but no use. The image is displayed, but on hovering, it's not displaying the zooming pane.

[2019-12-11 08:57] mapkbalaji commented on #46
@perochak Did you have any success in using the component with Quasar?

[2019-12-11 13:42] perochak commented on #46
no success

[2020-02-06 10:15] Suneel2019 opened #50 "Vue Product Zoomer not working dynamically."
I am trying to dynamically use the vue product zoomer. I created a hook created that calls an api and gives the images data. The main concern is the vue-product-zoomer component renders before and searches for the normal_size image and throws error.

Error in created hook: "Product Zoomer Need Normal Size Image At Least!!!"

Any Solution !!!!

[2020-02-10 23:48] julen-folky opened #51 "Routing breaks the image zoomer"
[UPDATE] I discovered that going from one page to another breaks the zoomer. I just placed a link from a page with zoomer in nuxt demo to another new page just containing a link back to the previous and reproduces the same error I discribe below.

I added [nuxt-i18n](https://github.com/nuxt-community/nuxt-i18n) to the demo project with nuxt at https://github.com/akulubala/nuxt-product-zoomer-demo.

[2020-02-12 04:39] akulubala commented on #51
@julen-folky can you provide you demo project let us run locally? it's hard to locate the problem with that information you provided

[2020-02-12 04:49] akulubala commented on #49
@tduccuong ,you don't need import this from app.js, from your template, just write this three-line, it's the same:
[code]

[2020-02-12 08:44] julen-folky commented on #51
Hi @akulubala! Yes, I [forked the repository](https://github.com/julen-folky/nuxt-product-zoomer-demo) and commited a change to reproduce issue according to the most recent descritption. Thanks for your time!

[2020-02-12 10:48] akulubala commented on #51
Hi @julen-folky, I checked your demo, the component did not remount is because vue will reuse component as possible as it can. You need to make the page reload with goback link. I don't use much of NUXT. for vue there have a key can assign to `router-view` can force component reload

[2020-02-12 12:37] julen-folky commented on #51
@akulubala I tried to force the reload of the component by adding `key` prop to it. Also by doing the same in a component that wraps zoomer (see the other branch); without luck in both cases 😞.

Could you add further insight? Thanks!

[2020-02-20 08:52] matinwd opened #52 "Does not work properly"
Thanks for your great library. there is some problem i have please help me.
![2020-02-20_12-18-28](https://user-images.githubusercontent.com/52950867/74916474-2b712500-53db-11ea-92a8-27679f73b91f.png)
as u can see, slider is very big and it is inside of picture. Next problem is zoom.
these are my code. what is the problem with them?
[code]
html:
[code]

[2020-02-20 08:53] matinwd commented on #52
Oh i forgot to tell you i am using Vuetify.

[2020-03-19 07:31] BobbySpoon commented on #46
I was facing a similar problem trying to make it work  with Vue SSR, i.e. image as showing but no zoom on hover, and the overall positioning of the elements incorrect. The product zoomer injects the relevant styles (based on the image input) inline once the 'load' event is fired on window. Don't know the whole in depth explanation, but this event is never fired inside a component in a Vue, Vue-Rou

[2020-03-19 08:50] perochak commented on #46
@BobbySpoon Can you please share your solution

[2020-03-20 04:22] VIkasaviox commented on #51
Hello @akulubala ,

Is this issue is fixed.
As i implemented this in vue and facing the same issue.
routing is breaking zoomer and also slider is not visible after visiting from a route.
When we refresh the page , it works fine.
Please let me know how it can be fixed

Thanks.

[2020-03-24 09:32] BobbySpoon commented on #46
@perochak I'll try to set something up, just very busy these days. Look into the docs here https://github.com/imgix/drift
It's fairly easy, just wrap a vue component round it. It should work with <client-only />.
When importing the module in the server-render phase, it will get stuck in  lib/ZoomPane.js (no dcument in Node...). I just wrapped the block in conditional, i.e.
if (typeof window !== 'u

[2020-03-24 10:40] PH7-Jack opened #53 "Dont have mobile support?"
Is possible this component work well in mobile?

[2020-03-24 10:41] PH7-Jack commented on #50
Use v-if in condition loading

[2020-03-31 16:16] jakupi1 opened #54 "Nuxt.js with Bootstrap Vue Ui"
Hello 👋, im using productzoomer with b-modal and it doesn't works below is the code is use

`  <b-modal
ref="my-modal"
 centered
 modal-class="wcModal"
hide-footer
 hide-header >
            <ProductZoomer :base-images="images" :base-zoomer-options="zoomerOptions"></ProductZoomer>
</b-modal>`

and look how it looks inside of the modal <img width="766" alt="Screenshot 2020-03-31 at 18 14 57" src="h

[2020-04-01 00:37] smaharj1 commented on #54
Looks like the issue here is that the modal is not rendered when the page loads. I see that using `nextTick` would solve this issue.

@akulubala , can I grab this issue and work on it?

[2020-04-01 01:29] akulubala commented on #54
Hi, @smaharj1 ， thanks helping, I'll merge and publish your pull request later.

[2020-04-01 01:35] smaharj1 commented on #54
I think this would also solve #51

[2020-04-01 10:10] jakupi1 commented on #54
@smaharj1  Does your fix works? Because i forked and changed window load thing added nextTick still same issue :/

[2020-04-01 21:52] smaharj1 commented on #54
I didn't try it in Nuxt but I just did it regularly in a web app with vue bootstrap. changing it to nextTick worked for me. Also, do you have the ProductZoomer somewhere else in that same page? If that's the case, it won't work but that's a separate issue.

[2020-04-02 12:18] jakupi1 commented on #54
@smaharj1 I added setTimeout (500) and it works.

[2020-04-25 21:57] AlexanderQuinaluiza opened #56 "add vue-product-zoomer in Nuxt js"
problems integrating the component with nuxt:
`import ProductZoomer from 'vue-product-zoomer'
import readme from '../components/Reame'
export default {
  components: { readme, ProductZoomer },`
Error:
![imagen](https://user-images.githubusercontent.com/7355793/80291719-a1fd0c80-8715-11ea-952f-7191d294e87c.png)
I need your help please

[2020-04-26 03:17] akulubala commented on #56
please check this demo. https://github.com/akulubala/nuxt-product-zoomer-demo

[2020-05-08 04:45] TrickerPan opened #57 "Nuxt import this has some problem"
❌Open a page with this component from client, the component can's display.
⭕️Reload this page, the component display.

[2020-05-08 04:48] TrickerPan commented on #57
U can solve this problem in a very simple way. Just move the code in the 'load' event to Vue updated method.

[2020-05-18 07:04] #45 closed

[2020-05-18 07:05] #49 closed

[2020-05-18 07:05] #48 closed

[2020-05-18 07:08] #50 closed

[2020-05-18 07:11] #57 closed

[2020-05-18 07:11] #56 closed

[2020-05-18 07:13] akulubala commented on #53
@PH7-Jack it works on IPAD, not tested on small device

[2020-05-18 07:13] #54 closed

[2020-05-18 09:32] akulubala commented on #52
please using the new release version

[2020-05-18 09:32] #52 closed

[2020-05-18 09:33] akulubala commented on #51
this should be fixed with the new version

[2020-05-18 09:33] #51 closed

[2020-05-27 16:29] heaversm opened #59 "feature: would love to see a simple single image support"
If you just want to zoom a single image, it'd be nice to have a syntax where you could just wrap an image tag with a product-zoomer and not have to pass an array of images, just options, like:

[code]

Great library though for galleries.

[2020-06-21 08:23] MirzaeiDev opened #60 "is nuxt ssr?"
pls add ssr

[2020-07-19 20:12] MirzaeiDev opened #61 "how can i use single component?"

[2020-07-23 17:35] ouelletv commented on #60
@MirzaeiDev I have the same problem. Did you find a solution? If not, any similar plugin to recommend?

[2020-08-08 13:42] samjonesigd commented on #59
@heaversm https://www.npmjs.com/package/vue-image-zoomer

[2020-08-13 07:13] aditya1996gupta opened #63 "not working"

[2020-08-13 14:00] #63 closed, assigned to nobody

[2020-08-14 10:38] aditya1996gupta opened #64 "wonderfull to makers"
i appreciate for wonderfull invention

how can increase the size of thumbs normal large container size
please guide.

[2020-08-20 13:44] #64 closed, assigned to nobody

[2020-08-21 20:08] hvitis commented on #53
Bumping the issue.
It would be a great feature.
<img width="367" alt="Screenshot 2020-08-21 at 22 07 25" src="https://user-images.githubusercontent.com/17104239/90930397-d4d0bc00-e3fa-11ea-94de-2e883fe380af.png">

Doesn't look like it has support now.
Any contributors rules I need to follow in case I want to make PR?

[2020-08-22 07:47] bci24 opened #65 "Unknown custom element: <productzoomer>"
I am getting this error:

`Unknown custom element: <productzoomer> - did you register the component correctly? For recursive components, make sure to provide the "name" option.`

In my v-app.js

[code]

and the usage:

`<ProductZoomer :base-images="productGalleryImages" :base-zoomer-options="zoomerOptions"/>`

What am I missing ?

[2020-08-22 10:35] bci24 commented on #65
Fix it!

I had to call the component like this:

`<product-zoomer :base-images="productGalleryImages" :base-zoomer-options="zoomerOptions"/>`

instead of (like in the doc):

`<ProductZoomer :base-images="productGalleryImages" :base-zoomer-options="zoomerOptions"/>`

[2020-08-22 10:35] #65 closed, assigned to nobody

[2020-08-24 13:51] aditya1996gupta commented on #51
I am facing  the same issue when visiting to other page the zoomer image breaks and i have to reload and refresh everytime any solution
please?

[2020-09-18 11:02] eduardobalbo opened #67 "Image resizing and CSS"
I have a problem where i need the size of the component to be fixed to _500x500px_, because the area of my project where the zoomer will stay has that amount of space.
My images are all _720x720px_, and i have more than _30.000_ of them, so resizing them manually is impossible. When i use one of them, the component size goes to the size of the image, and it breaks itself really weirdly, a white bl

[2020-09-18 18:56] haritha2112 opened #68 "TypeError: Cannot read property 'url' of undefined at VueComponent.choosedThumb"
I'm getting this error as soon as I hover over an image in the scroller after I click on either left or right arrow.

[code]

`getProductImages` method simply gets images from a prop passed on to ProductZoomer parent component and returns it in a format required for ProductZoomer

[code]
[code]

[2020-09-19 02:49] akulubala commented on #67
1. all the images had the same dimension
2. The image width on the left and right sides is proportional

[2020-09-19 03:12] eduardobalbo commented on #67
Oh i see, any idea how i should deal with my case? I need the images to have a fixed size, and the component too. And also CSS dont seem to work on the component somehow, and sometimes i also have a bug that the component dosnt load until i refresh the page. Using this with nuxt gives a lot of issue it seems.

[2020-09-19 04:23] akulubala commented on #67
you should put this component in a fixed-width container I believe, then control the container width to make the proportional properly

[2020-09-21 16:10] eduardobalbo commented on #67
I see, i tried but it didnt work, it dosnt respect any CSS given, also there is a bug with nuxt routing that makes the component only appear after a page reload.
For now i'll try using another similar component, maybe i'll come back and try this one later, to many issue to fix atm.
Thank you for the help.

[2020-09-24 14:52] MikusMarkevicsMagebit commented on #59
This package uses Drift zoom if you look into the src folder. https://github.com/imgix/drift
Not a Vue specific solution, but you can workaround it by attaching to DOM elements directly.

[2020-09-29 14:07] #67 closed, assigned to nobody

[2020-09-30 00:11] Ricro commented on #61
Try to import vue-product-zoomer as a [Nuxt plugin](https://fr.nuxtjs.org/guide/plugins/).

Create the file ~/plugins/vue-product-zoomer.js :
[code]

And then bind it in nuxt.config.js :
[code]

Finally, use the component wherever you want in a .vue template
[code]

[2020-10-06 19:07] ametow opened #69 "Not seeing thumbs when changed from page to page in Nuxt"
I don't see thumbs and the functionality overall is not working, it happens when locate from page to page. But if I refresh the page everything works.

[2020-11-06 05:42] stevenferrer commented on #61
I tried importing it as a nuxt plugin.

[code]

[code]

[code]

The issue is it doesn't work on initial load of the page.

[2020-11-21 08:09] tranduybau opened #70 "CSS is not working on nuxt"
## Capture:
![image](https://user-images.githubusercontent.com/33424891/99871191-0d0ab500-2c0b-11eb-8a5c-372b62af4341.png)

## Config:

[code]

[code]

[code]

[2020-11-21 09:36] tranduybau commented on #70
Update: this is when your package got an error:
![image](https://user-images.githubusercontent.com/33424891/99874120-bfe11000-2c17-11eb-8878-d07a4c54babd.png)

[2020-11-30 10:20] mafrego opened #71 "How to remove the thumb list?"
Hi there!
Is there a way/option to remove/hide the thumb list(i.e. scroll items and scroll buttons ) and display only the image that you want to zoom?
Thank you!

[2020-11-30 13:19] akulubala commented on #71
if you only want hover on one image, try this package https://github.com/imgix/drift @mafrego

[2020-11-30 13:27] mafrego commented on #71
Thank you Raymond,
your vue-product-zoomer is perfect in order to be integrated with my vue
app, I just want to know if it would be possible to hide the scrollbar
somehow.
Thank you again!

Il giorno lun 30 nov 2020 alle ore 14:19 Raymond Cheng <
notifications@github.com> ha scritto:

[2020-11-30 13:36] akulubala commented on #71
@mafrego for the moment, you can try to overwrite the thumb list div CSS 'thumb-list' make it display none, will add this feature when the upgrade to vue 3.

[2020-11-30 14:00] mafrego commented on #71
I did it already but it doesn't work, both in my component and in the
ProductZoomer.vue of your module.
I ran the code again, refreshed the page, loaded a new page but the
scrollbar is still there.
I don't know why, any idea?

Il giorno lun 30 nov 2020 alle ore 14:37 Raymond Cheng <
notifications@github.com> ha scritto:

[2020-11-30 17:01] mafrego commented on #71
It works only if I add !important:

`    .thumb-list {
        display: none !important;
    }`

[2020-11-30 17:01] #71 closed, assigned to nobody

[2020-12-23 10:43] spokospace opened #72 "No TypeScript types"
When I try to import it, I have error `Cannot resolve definitions for module 'vue-product-zoomer' `

[2020-12-23 10:43] spokospace opened #73 "No types to TypeScript"
When I try to import it, I have error `Cannot resolve definitions for module 'vue-product-zoomer' `

[2020-12-23 10:43] #72 closed, assigned to nobody

[2020-12-23 15:17] spokospace commented on #70
I have the same issue, I had to add css styles with !important to quick fix this.

[2021-01-04 04:26] VorapratR commented on #60
in nuxt.config.js
.....
plugins: [
        { src: '~/plugins/[mypath]', ssr: false }
    ],

[2021-01-13 05:07] sejanH commented on #70
@cnk001 How did you solve this one?

https://user-images.githubusercontent.com/16546092/104408968-72d24800-558f-11eb-90b0-7ee475ccfe30.mp4

[2021-01-13 07:15] spokospace commented on #70
I didn't use this plugin in the end, too much to fixing :P

[2021-01-13 07:18] sejanH commented on #70
then which one did you use? it seems I've also spent more time on this one. but now I think I think look for alternatives also

[2021-01-20 09:02] imsidz commented on #70
i am facing same issue how you fixed it if you didn't which alternative package do u using?

[2021-01-20 12:55] imsidz commented on #70
can u post your style here sir. thank you

[2021-01-28 02:50] wxiaocong opened #74 "Internet Explorer is not supported"
Internet Explorer is not supported

[2021-02-15 10:27] M-Barari opened #75 "Pre-loading normal sized images or a loading indicator when changing images"
Hi, first of all thanks for the package.
and my problem: when changing images by selecting thumbs (or mouseOver) , if the internet connection speed is slow, nothing happens until the image is fully loaded , then the image changes. so it will be nice to load normal size images even when not selected (pre-load) or at least use a loader, like zoom panel.
I would be happy if you can help me.
thanks.

[2021-02-23 00:59] alandedica commented on #73
@spokospace if you just want to supress the TS warning, you can declare a fake module in a `d.ts` file

`declare module 'vue-product-zoomer'`

[2021-03-18 18:01] paxcodes commented on #73
It would be nice to have types supported out-of-the-box.

Getting this error in VS Code,

[code]

[2021-03-18 18:02] paxcodes commented on #73
It would be nice to have types supported out-of-the-box.

Getting this error in VS Code,

[code]

[2021-04-19 15:13] depak379mandal opened #78 "The product zoomer is not visible"
![image](https://user-images.githubusercontent.com/44017289/115259228-51b16280-a14f-11eb-8523-221fb3544bb0.png)

there is extra div in product zoomer elements
which are height and width and those are set to 0px
But when i removed them using inspection they were not working fine.
code is given below

[code]

[2021-04-19 15:51] depak379mandal commented on #78
Sorry for issue I think I didn't provide valid data or something.

[2021-04-19 15:51] #78 closed, assigned to nobody

[2021-07-15 03:00] 11003 opened #80 "Problems found so far"
Do I have to upload different sizes?

[2021-08-19 02:02] 11003 commented on #80
### After using the component, it should start to open and fail

![image](https://user-images.githubusercontent.com/35055270/129995733-9b1634e3-4f6c-490f-b4a9-aa2d4d5025ad.png)

### Refresh is useful
![brush_shadow12](https://user-images.githubusercontent.com/35055270/129995798-cf61596d-8488-40cf-852a-49c92cd7267c.gif)

[code]

[2021-08-19 02:40] 11003 commented on #80
Question 3: Your project will not run after downloading, you can only see the effect by opening it directly in `src/assets/drift-zoom/index.html`

问题3：你的项目下载下来根本运行不起来，只能在`src/assets/drift-zoom/index.html`直接打开才能看到效果

[2021-08-28 09:29] drce opened #81 "你好，问下组件不显示，只显示<!---->"

[2021-08-28 09:30] drce commented on #81
脚手架模式下

[2021-09-02 06:07] mengdodo commented on #80
i have same issue

class ="zoomer-bottom-base-container scroller-at-bottom" with issue css style  "height:NaNpx;width:0px;position:relative"

[2021-09-02 06:09] mengdodo commented on #70
which one did you use  💢   ?

[2021-09-02 08:10] tranduybau commented on #70
https://thegmen.vn/mesh-polo-shirt-blue-gray-nvvt6m

Hi there, I fixed this issue by use this one:

https://www.npmjs.com/package/vue-zoom

[2021-09-16 11:15] yajinn commented on #61
This module only run the detail page. That's why I loaded this module dynamically on the detail page.

[code]

[2021-09-20 11:56] thsnyzkn opened #82 "Width value that is coming from injected style is coming as NaN"
Hello,
Firstly, thanks for the library and the work you've provided.
I tried to install and run the most recent version but even the examples that are provided are not working properly, zooming is not applicable at the moment.

Furthermore, the containing div(has a class name of zoomer-left-base-container scroller-at-left) of image(has a class name of responsive-image preview-box) has an invalid v

[2022-01-11 08:37] Tenutes opened #84 "Vue3 version"
i've made version for vue3 (just for my use).
I didn't test it in production build and e.c. but it works locally.
So, if you need some help with it, you are welcome :)

https://github.com/Tenutes/vue-product-zoomer

[2022-01-11 11:44] Tenutes commented on #84
I run into problem with importing published library:
Invalid VNode type: Symbol(Fragment) (symbol)

[2022-01-19 18:39] Tenutes commented on #84
Will try to migrate from webpack to rollup next weekend

[2022-02-08 05:59] jamesbhatta commented on #82
Same issue here.

[2022-04-11 17:08] YonJimh opened #85 "s"

[2022-04-11 17:08] #85 closed, assigned to nobody

[2022-08-14 17:30] bhavyagosai commented on #84
@Tenutes does it work?

[2022-09-28 12:30] Tenutes commented on #84
I stopped dev :( Sorry, i can't remember what kind of difficulties i faced with. So, if you want, you can use my "developments"